<div class="container">
    <div class="row">
        <div class="starter-template">
          <%= image_tag("my-ruby-rabbit.png", size: "112x112", alt: "Edit Entry", class: "") %>
        <h1 class="display-4", style="font-family: 'Caveat Brush', cursive;">Creative Rabbit</h1>
        <p class="lead text-muted">You ideas - our artwork</p>
      </div>
      <div class="best-works row">
      </div>
</div>
</div><!-- /.container -->
