<div class="container">
    <div class="row">
      <div class="starter-template">
        <h1 style="font-family: 'Caveat Brush', cursive;">Creative Rabbit</h1>
        <%= image_tag("my-ruby-rabbit.png", size: "112x112", alt: "Edit Entry", class: "") %>
        <p class="lead">What are you working on? DML is a community of designers answering that question each day. <br>Web designers, graphic designers, illustrators, icon artists, typographers, <br>logo designers, and other creative types share small screenshots <br>(shots) that show their work, process, and current projects.</p>
      </div>
      <div class="best-works row">
      </div>
</div>
</div><!-- /.container -->
