<div class="container">
    <div class="row">
      <div class="starter-template">
        <h1>Design my logo</h1>
        <br>
        <%= image_tag("my-ruby-rabbit.png", size: "112x112", alt: "Edit Entry", class: "") %>
        <br><br>
        <p class="lead">What are you working on? DML is a community of designers answering that question each day. <br>Web designers, graphic designers, illustrators, icon artists, typographers, <br>logo designers, and other creative types share small screenshots <br>(shots) that show their work, process, and current projects.</p>
      </div>
      <div class="best-works row">
          <div class="col-lg-4">
          <img src="http://placehold.it/350x200">
          </div>
          <div class="col-lg-4">
          <img src="http://placehold.it/350x200">
          </div>
          <div class="col-lg-4">
          <img src="http://placehold.it/350x200">
          </div>
          <div class="col-lg-4">
          <img src="http://placehold.it/350x200">
          </div>
          <div class="col-lg-4">
          <img src="http://placehold.it/350x200">
          </div>
          <div class="col-lg-4">
          <img src="http://placehold.it/350x200">
          </div>
          <div class="col-lg-4">
          <img src="http://placehold.it/350x200">
          </div>
          <div class="col-lg-4">
          <img src="http://placehold.it/350x200">
          </div>
          <div class="col-lg-4">
          <img src="http://placehold.it/350x200">
          </div>
          <div class="col-lg-4">
          <img src="http://placehold.it/350x200">
          </div>
          <div class="col-lg-4">
          <img src="http://placehold.it/350x200">
          </div>
          <div class="col-lg-4">
          <img src="http://placehold.it/350x200">
          </div>
      </div>
</div>
</div><!-- /.container -->
