@import 'bootstrap';

// Homepage style
@import 'homepage';

.field label {
  text-align: right;
}

nav img {
  margin-right: 15px;
}

footer {
  background-color: #ccc;
  margin-top: 33px;
  ul {
    list-style: none;
    li {
      display: inline-block;

      a {
        color: #000;
      }
    }
  }
}
