@import 'bootstrap';

// Homepage style
@import 'homepage';

* {
  font-family: 'Raleway', sans-serif;
}

.alert, .notice {
  margin: 0 auto;
  text-align: center;
  color: #66D37E;
  content: " ";
}

.btn {
  height: 30px;
  font-size: 12px;
}

.post {
  .content {
    text-align: justify;
  }
  h4 {
    font-weight: bold;
  a {
      color: #4D5058;
    }
  }

  a:hover {
    color: #5995DD;
    text-decoration: none;
  }
}

.choise {
  margin-top: 3px;
  .btn {
    // margin: 0;
  }
}

.field label {
  text-align: right;
}

.author {
  font-weight: bold;
  color: #3a8bbb;
}

nav img {
  margin-right: 15px;
  // margin-left: -25px;
}

footer {
  background-color: #eee;
  margin-top: 33px;

  .social-area, .copyright {
    text-align: center;
    margin: 10px 0;
  }
}
