<footer class="footer footer-color-black">
    <div class="container">

        <div class="social-area">
            <a class="btn btn-social btn-vk btn-simple" href="https://www.facebook.com/CreativeTim">
                <i class="fa fa-vk"></i>
            </a>
            <a class="btn btn-social btn-twitter btn-simple" href="https://twitter.com/CreativeTim">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-social btn-pinterest btn-simple" href="https://plus.google.com/+CreativetimPage">
                <i class="fa fa-google-plus-square"></i>
            </a>
            <a class="btn btn-social btn-pinterest btn-simple" href="https://dribbble.com/creativetim">
                <i class="fa fa-dribbble"></i>
            </a>
        </div>
        <div class="copyright text-center">
            © 2016 <a target="_blank" href="https://twitter.com/lordelricgodric"> Jungle Tale </a>, page made with <a target="_blank" href="http://rubyonrails.org/">RoR</a>
        </div>
    </div>
</footer>
