<footer class="bd-footer text-muted" role="contentinfo">
  <div class="container">
    <ul class="bd-footer-links">
      <li><a href="https://github.com/lordgodric">GitHub</a></li>
      <li><a href="https://twitter.com/getbootstrap">Twitter</a></li>
      <li><a href="/examples/">Examples</a></li>
      <li><a href="/about/history/">About</a></li>
    </ul>

  </div>
</footer>
