<nav class="navbar navbar-fixed-top navbar-light" style="background-color: #e3f2fd;">
  <ul class="nav navbar-nav">
    <a href="homepage#index">
    <%= image_tag("my-ruby-rabbit.png", size: "33x33", alt: "Edit Entry", class: "pull-left") %>
    </a>
    <li class="nav-item ">
      <%= link_to 'Home', 'homepage#index', class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" href="#">About</a> -->
      <%= link_to 'Posts', 'posts', class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item pull-xs-right">
      <a class="nav-link" href="#">Sign up</a>
    </li>
  </ul>

</nav>
